/* header font */
@import url('https://fonts.googleapis.com/css2?family=Ysabeau&display=swap%27');
/* rest of page font */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap%27');

/* styling for full webpage */
html {
  background-color: antiquewhite;
}

body {
  font-family: "ysabeau";
  margin: 20px;
}

/* styling for header of document */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
  background-color: goldenrod;
  height: 200px;
}

h1 {
  font-family: "shrikhand";
  color: white;
  font-size: 110px;
  padding-left: 50px;
}

img {
  float: left;
  height: 250px;
  width: auto;
  border-radius: 10px;
}

/* main body styling */
.description {
  border: solid black 2px;
  border-radius: 10px;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}

h3 {
  margin: 10px;
}

.modal-content {
  font-size: 30px;
  color: white;
}

.buttons,
.column {
  font-size: large;
  display: flex;
  justify-content: center
}

.column {
  display: block;
  margin: 20px;
  border: solid black 2px;
  border-radius: 10px;
}

h2 {
  font-weight: bold;
}

#park-results,
#brewery-results {
  display: none;
}

#park-results ul,
#park-favorites ul {
  list-style-type: none;
}

.park-save,
.brewery-save {
  float: right;
  background-color: lightgoldenrodyellow;
}

.fa-save {
  margin: 0px;
}

a.visited {
  color: #af64f6;
}

/* media query where page formatting breaks */
@media screen and (max-width: 1061px) {
  h1 {
    font-size: 95px;
  }
}

/* media query for tablets */
@media screen and (max-width: 992px) {
  header {
    display: flex;
    align-items: center;
  }

  h1 {
    font-size: 85px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 20px;
  }

  img {
    margin-left: 30px;
  }

  .description {
    font-size: medium;
  }
}

/* media query where formatting breaks */
@media screen and (max-width: 916px) {
  h1 {
    font-size: 65px;
  }
}

/* media query where formatting breaks */
@media screen and (max-width: 653px) {
  header {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
  }

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    background-color: goldenrod;
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .description {
    font-size: medium;
    margin-top: 40px;
  }
}

/* media query for phones */
@media screen and (max-width: 556px) {
  header {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
  }

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    background-color: goldenrod;
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .description {
    font-size: medium;
    margin-top: 110px;
  }

  .buttons {
    flex-direction: column;
  }
}