/* header font */
@import url('https://fonts.googleapis.com/css2?family=Ysabeau&display=swap%27');
/* rest of page font */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap%27');

* {
  font-family: "ysabeau";
  margin: 10px;
}

html {
  background-color: antiquewhite;
}


/* styling for header of document */
img {
  float: left;
  height: 250px;
  width: auto;
  border-radius: 10px;
  /* padding-right: 20px; */
}

.header-text{
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: center;
  padding-left: 50px;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
  background-color: goldenrod;
}

header,
h1 {
  font-family: "shrikhand";
  color: white;
  font-size: 110px;
  height: 200px;
  justify-content: center;
}

.description {
  border: solid black 2px;
  border-radius: 10px;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}

/* main body styling */

.buttons, .column {
  font-size: large;
}

.column {
  display: block;
  margin: 5px
}

.is-info {
  border: solid black 5px;
}

#park-results,
#brewery-results {
  visibility: hidden;
}

/* #park-results,
#brewery-results,
#park-favorites,
#brewery-favorites */

.column{
  border: solid black 2px;
  border-radius: 10px;
}

#park-results ul,
#park-favorites ul {
  list-style-type: none;
}

.fas {
  height: auto;
}

.modal-content {
  font-size: 30px;
  color: white;
}

/* header styling */
/* header{
  height: 200px;
  justify-content: space-between;
} */